*, *::before, *::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    overflow-y: hidden;
}

body, h1, h2, h3, h4, h5, h6, figure, picture, blockquote, caption {
    margin: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    overflow-x: hidden; /* hide any issues with mobile menu / cart sliding in and out*/
}

input, button, textarea, select {
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
