.wrapper {
    display: grid;
    grid-template-columns: 1fr min(55ch, calc(100% - 84px)) 1fr;
    /*grid-template-columns: 1fr min(65ch, calc(100% - 84px)) 1fr;*/ /* had horiz scroll issue mobile*/
    grid-column-gap: 32px;
}
.wrapper > * {
    grid-column: 2;
}
.max-content {
    max-width: var(--space-max-content);
    grid-column: 1 / 4;
    margin: 0 auto;
    padding: var(--space-4);
}
@media (min-width: 35rem) {
    .max-content {
        padding-inline: var(--space-8);
    }
}

.full-bleed {
    width: 100%;
    grid-column: 1 / 4;
}

/* Screen Reader only - hide from visual users, but keep for sr */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
